.n-wrapper{
    height: 10vh;
    display: flex;
    justify-content: space-between;
}

.n-left{
    flex:1;
    align-items: center;
    display: flex;
    gap: 2rem;
}

.n-name{
    font-size: 2rem;
    font-weight: bold;
}

.right{
    display: flex;
    flex:1;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    
}

.n-list{
    flex: 10;
    transform: scale(1.1);
    margin-right: -2rem;
}

.n-list>ul{
    display: flex;
    gap: 3rem;
    margin-right: 5rem;
    cursor: pointer;
}
 .n-list ul a li:hover {
  color: var(--orange);
}


.n-button{
    flex: 2;
    margin-top: -0.5rem;
    margin-right: -0.5rem;
    margin-left: 3rem;
    width: 8rem;
}
@media screen and (max-width: 480px){
    .n-list{
        display: none;
    }
    .n-button{
        display: none;
    }
    
}