.works{
    padding: 0 3rem 0 3rem;
    display: flex;
    height: 90vh;
    margin-top: 4rem;
}
.w-right{
    position: relative;
}
.w-mainCircle{
    left: 9rem;
    position: relative;
    width: 18rem;
    height: 18rem;
    border-radius: 100%;
    box-shadow: var(--smboxShadow);
    top: 2rem;
    background: white;
}
.w-mainCircle>*{
    position: absolute;
}
.w-mainCircle>:nth-child(1){
    top: -3rem;
    left: 6rem;
}
.w-mainCircle>:nth-child(2){
    top: 6rem;
    left: -3rem;
}
.w-mainCircle>:nth-child(3){
    top: 6rem;
    left: 6rem;
}
.w-mainCircle>:nth-child(4){
    top: 15rem;
    left: 6rem;
}
.w-mainCircle>:nth-child(5){
    top: 6rem;
    left: 15rem;
}

.w-secCircle{
    width: 6rem;
    height: 6rem;
    position: absolute;
    border-radius: 100%;
    border: 5px solid #ebebeb;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    box-shadow: var(--smboxShadow);
}

.w-secCircle>img{
    transform: scale(1.25);
}

.w-backCircle{
    position: absolute;
    height: 13rem;
    width: 13rem;
    border-radius: 100%;
    z-index: -1;
}

.blueCircle{
    background: #194988;
    left: 20rem;
    top: 0rem;
}
.yellowCircle{
    background: #F5C32C;
    left: 20rem;
    top: 9rem;
}
.c1 {
  transform: scale();
  display: flex;
  justify-content: center;
  align-items: center;
}

.c1 img {
  width: 100px;        
  height: 100px;       
  object-fit: cover;  
  border-radius: 50%; 
  border: 5px solid white;
}

@media screen and (max-width: 480px){
 .works{
   flex-direction: column;
    height: 55rem;
    padding: 0;
    gap: 5rem;
    top: -1rem;
 }
 .w-right{
    display: flex;
    align-items: flex-start;
    justify-content: start;
    transform: scale(0.7);
    top: -6rem;
 }
 .w-mainCircle{
    position: static;
 }
 .w-backCircle{
    left: 9rem;
 }
 .blueCircle{
   top: -2rem;
 }
}