.intro{
    display: flex;
    height: 77vh;
    margin-top: 6rem;
}

.i-left{
    display: flex;
    position: relative;
    flex: 1;
    flex-direction: column;
}

.i-name{
    display: flex;
    flex-direction: column;
}

.i-name>:nth-child(1){
    color: var(--black);
    font-weight: bold;
    font-size: 3rem;
}
.i-name>:nth-child(2){
    color: var(--orange);
    font-weight: bold;
    font-size: 3rem;
}
.i-name>:nth-child(3){
    color: var(--gray);
    font-weight: 100;
    font-size: 18px;
    margin-top: 10px;
}

.i-button{
    margin-top: 1.5rem;
    width: 6rem;
    height: 2rem;
    font-size: 13px;
}

.i-icons{
    margin-top: 3rem;
    display: flex;
    gap: 0rem;
}

.i-icons>*{
    transform: scale(0.5);
}

.i-icons>*:hover{
    cursor: pointer;
}

.i-right{
    flex: 1;
    position: relative;
}

.i-right>*{
    position: absolute;
    z-index: 1;
}

.i-right>:nth-child(1){
    transform: scale(0.85);
    left: 1rem;
    top: -15%;
}
.i-right>:nth-child(2){
    transform: scale(0.75);
    left: 1rem;
    top: -19%;
}
.i-right>:nth-child(3){
    transform: scale(0.89);
    left: 3.5rem;
    top: -24%;
    border: transparent;
    border-radius: 10% 10% 60% 39%;
}
.i-right>:nth-child(4){
    transform: scale(0.7);
    /* top: -19%; */
    /* left: -23%; */
    border-radius: 50%;
    padding: 0;
}

.blur{
    position: absolute;
    width: 22rem;
    height: 14rem;
    border-radius: 50%;
    background-image: #edd0ff;
    z-index: -9;
    top: -18%;
    left: 56%;
    filter: blur(72px);
}
.glasses-emoji {
    position: absolute;
    top: -19%;
    transform: scale(0.7);
}
@media screen and (max-width: 480px){
    .intro{
        flex-direction: column;
        height: 64rem;
    }
    .i-right{
        transform: scale(0.7);
        left: -3.2rem;
        top: -7rem;
    }

    .i-right .blur{
        display: none;
    }
    .floating-div1{
      display: none;
    }
    .i-icons{
        margin-top: 1rem;
        margin-bottom: 2rem;
    }
    .glasses-emoji{
        right: 4rem;
    }
    .i-left{
        top: -3rem;
    }
    .i-right>:nth-child(3){
        margin-left: -22px;
        margin-top: 2px;
        border-radius: 10% 10% 55% 37%;

    }
}