.footer{
    display: flex;
    align-items: center;
    margin: -0.5rem -3.5rem;
    position: relative;
    margin-top: -7rem;
}

.f-content{
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-top: 6rem;
    gap: 2rem;
    color: white;

}

.f-icons{
    display: flex;
    gap: 2rem;
    margin-bottom: -8rem;
}
@media screen and (max-width: 480px){


    .f-content{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-top: 3rem;
    gap: 0.5rem;
    color: white;
    }

    .f-icons{
        gap: 1.6rem;              
        justify-content: center;
        transform: scale(0.6);
        margin-bottom: 5px;
        margin-top: -5px;
    }
    .f-content span{
        transform: scale(0.8);
    }
}
