.t-wrapper{
    padding: 0 3rem 0 3rem;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 7rem;
    flex-direction: column;
    gap: 2rem;
    position: relative;
}
.t-heading{
    align-self: center;
}
.t-heading>*{
    font-size: 2rem;
    font-weight: bold;
}
.t-heading span:nth-of-type(2){
    color: var(--orange);
}
.t-blur1{
    left: 52rem;
    top: 18rem;
}
.t-blur2{
    left: -8rem;
    top: 9rem;
}
.testimonial{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 2rem;
    width: 30rem;
    height: 12rem;
    background: rgba(255, 255, 255, 0.25);
    border: 7px solid var(--blueCard);
    box-shadow: var(--boxShadow);
    border-radius: 20px;
}
.testimonial>img{
    width: 7rem;
    height: 7rem;
    border-radius: 100%;
    margin-top: -3%;
    border: 4px solid var(--blueCard);
}
.testimonial>span{
    color: var(--gray);
}

.t-wrapper .swiper{
    width: 100%;
    height: 70%;
}

.t-wrapper .swiper-slide{
    display: flex;
    align-items: center;
    justify-content: center;
}

.t-wrapper .swiper-pagination-bullet-active{
    background: var(--orange);
}
@media screen and (max-width: 480px){
    .t-wrapper{
        padding: 0;
    }
    .testimonial>img{
        width: 80px;
        height: 80px;
        margin-top: -20px;
    }
    .testimonial>span{
    font-size: 18px;
    margin-top: 7px;
    margin-bottom: -18px;
    }
    .t-blur2{
    left: 14rem;
    top: 24rem;
    }
    .t-blur1{
    left: -18rem;
    top: 10rem;
}
}